# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
Balao/node_modules
Servidor/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/ARC-Vinod.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Balao/src/__pycache__
Balao/__pycache__
Servidor/src/c.pcy
Servidor/src/backend.pcy
Servidor/src/c.pcy
.idea/dictionaries/USUARIO.xml
Servidor/src/__pycache__/c.cpython-37.pyc
.ideia/
Servidor/src/__pycache__/
BalaoTeste01/
BalaoTeste02/
*.pyc